@using Domain.UserInput
@model Domain.UserInput.IdeationQuestion
@inject UIMVC.Services.ProjectService ProjectService
@inject UIMVC.Services.UserService UserService

@{
    ViewData["Title"] = Model.QuestionTitle;
}

<div class="container"> 
    <div class="row">
        <div class="col-12">
            <h1>Ideation Thread</h1>
            <p class="font-weight-bold">@Model.QuestionTitle</p>
            <p>@Model.Description</p>
            @if (Model.SiteURL != null)
            {
                <p>Lees meer: <a href="">@Model.SiteURL</a></p>
            }
            <br/>
            <a class="btn btn-primary" asp-controller="Platform" asp-action="CollectIdeation"
               asp-route-id="@Model.Ideation.Id">Terug Naar Ideation</a>
        </div>
    </div>
    <hr/>
    <p>@ProjectService.CollectThreadIdeas(Model).Count() ideeën, heb jij er nog een?</p>
    <hr/>
    @foreach (Idea idea in ProjectService.CollectThreadIdeas(Model).Where(i => i.ParentIdea.Id == 0))
    {
        <div class="row justify-content-center">
            <h4>@idea.Title</h4>
        </div>
        <div class="row justify-content-center">
            @if (!idea.VerifiedUser)
            {
                @Html.Partial("_ReactionNumbersPartial", new LikeViewModel()
                {
                    likeCount = idea.VoteCount,
                    shareCount = idea.ShareCount, retweetCount = idea.RetweetCount, iconStyle = 4,
                    Username = UserService.CollectUserName(idea.User.Id)
                })
            }
            
            @if (idea.VerifiedUser)
            {
                @Html.Partial("_ReactionNumbersPartial", new LikeViewModel()
                {
                    likeCount = idea.VoteCount,
                    shareCount = idea.ShareCount, retweetCount = idea.RetweetCount, iconStyle = 5,
                    Username = UserService.CollectUserName(idea.User.Id)
                })
            }
        </div>
        <div class="row justify-content-center">
        @if (idea.Field != null)
            {
                <p>@idea.Field.Text</p>
            }
            
            @if (idea.Cfield != null)
            {
                <ul>
                    @foreach (string o in idea.Cfield.Options)
                    {
                        <li>@o</li>
                    }
                </ul>
            }
            @* TODO Fields buiten CField & Field *@
        </div>
        <hr/>
    }        
</div>