@using Domain.Identity
@using Domain.UserInput
@using Microsoft.AspNetCore.Identity
@model Domain.UserInput.IdeationQuestion
@inject UIMVC.Services.ProjectService ProjectService
@inject UIMVC.Services.UserService UserService
@inject UserManager<UIMVCUser> UserManager

@{
    ViewData["Title"] = Model.QuestionTitle;
}

@section Scripts
{
    <script type="module" src="~/dist/bootstrap_js.entry.js" defer></script>
}

<div class="container"> 
    <div class="row">
        <div class="col-12">
            <h1>Ideation Thread</h1>
            <p class="font-weight-bold">@Model.QuestionTitle</p>
            <p>@Model.Description</p>
            @if (Model.SiteURL != null)
            {
                <p>Lees meer: <a href="">@Model.SiteURL</a></p>
            }
            <br/>
            <a class="btn btn-primary" asp-controller="Platform" asp-action="CollectIdeation"
               asp-route-id="@Model.Ideation.Id">Terug Naar Ideation</a>
        </div>
    </div>
    <hr/>
    <p>@ProjectService.CollectThreadIdeas(Model).Count() ideeën, heb jij er nog een?</p>
    @Html.Partial("Thread/_AddIdea", new AddIdeaModel(){ IdeationQuestionID = Model.Id, ParentID = 0})
    <br/>
    <p>@ViewData["Message"]</p>
    <hr/>
    @foreach (Idea idea in ProjectService.CollectThreadIdeas(Model).Where(i => i.ParentIdea.Id == 0))
    {
        @Html.Partial("Thread/_CollectIdea", new IdeaViewModel(){ ToView = idea, IdeaLevel = 0 })
        <hr/>
    }
</div>