@using Domain.Projects
@using UIMVC.Services
@model Domain.Projects.Project
@inject ProjectService ProjectService

@{
    ViewData["Title"] = Model.Title;
    Layout = "_Layout";
    ViewData["Questionnaires"] = ProjectService.CollectProjectQuestionnaires(Model);
    ViewData["Ideations"] = ProjectService.CollectProjectIdeations(Model);
}

@* Hoe gaan we de mobile layout doen? *@
<div class="container">
    <div class="row">
        <div class="col-4">
            <h2>@Model.Title</h2>
            @Html.Partial("_ReactionNumbersPartial", new LikeViewModel()
            {
                likeCount = Model.LikeCount, fbLikeCount = Model.FbLikeCount,
                twitterLikeCount = Model.TwitterLikeCount, iconStyle = 1
            })
            <p>@Model.Goal</p>
        </div>
        <div class="col-8">
            @* TODO vervang images door projectImages *@
            <img alt="projectImage" src="https://via.placeholder.com/700x350"/>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-10">
            <h2>Alle fases</h2>
        </div>
        <a class="btn btn-primary" asp-controller="Project" asp-action="AddPhase" asp-route-projectId="@Model.Id" method="get">Nieuwe fase</a>       
    </div>
    <div class="row">
        <div class="col-4">

            <h3>Huidige fase:</h3>
            @Html.DisplayFor(m => Model.CurrentPhase)
        </div>
        <div class="col-8">
            <h3>Andere fases:</h3>
            <table class="table">
                <thead>
                <th>Omschrijving</th>
                <th>van</th>
                <th>tot</th>
                <th></th>
                </thead>
                @foreach (Phase p in (IEnumerable<Phase>) ViewData["Phases"])
                {
                    <tr>
                        <td>@p.Description</td>
                        <td>@p.StartDate.ToShortDateString()</td>
                        <td>@p.EndDate.ToShortDateString()</td>
                        <td>
                            <a class="btn btn-light" asp-controller="Project" asp-action="SetCurrentPhase" asp-route-projectId="@Model.Id" asp-route-phaseId="@p.Id">
                                zet als huidige
                            </a>
                        </td>
                        <td>
                            <a class="btn btn-light" asp-controller="Project" asp-action="ChangePhase" asp-route-phaseId="@p.Id">
                                pas aan
                            </a>
                        </td>

                    </tr>
                }
            </table>
        </div>
    </div>
</div>
<hr/>
@* TODO Add a role check for the user*@
<section class="container">
    <div class="row justify-content-around">
        <a class="btn btn-primary" asp-controller="Moderation" asp-action="AddIdeation" asp-route-project="@Model.Id">
            Maak een nieuwe ideation
        </a>

        <a class="btn btn-primary" asp-controller="Admin" asp-action="AddQuestionnaire" asp-route-projectid="@Model.Id" method="get">
            Nieuwe vragenlijst maken
        </a>
    </div>

</section>
<hr>
@if (ViewData["Questionnaires"] != null || ViewData["Ideations"] != null)
{
    <div class="card-columns">
        @if (ViewData["Questionnaires"] != null)
        {
            foreach (Questionnaire questionnaire in (IEnumerable<Questionnaire>) ViewData["Questionnaires"])
            {
                @Html.DisplayFor(m => questionnaire)
            }
        }

        @if (ViewData["Ideations"] != null)
        {
            foreach (Ideation ideation in (IEnumerable<Ideation>) ViewData["Ideations"])
            {
                @Html.DisplayFor(m => ideation)
            }
        }
    </div>
}
else
{
    <p>Geen modules voor dit project.</p>
    
}
<hr/>

<a class="btn btn-primary" asp-controller="Moderation" asp-action="AddIdeation" asp-route-project="@Model.Id">	
    Maak een nieuwe ideation	
</a> 

<a class="btn btn-primary" asp-controller="Admin" asp-action="AddQuestionnaire" asp-route-projectid="@Model.Id" method="get">
Nieuwe vragenlijst maken</a>
