@using Domain.Identity
@using Domain.UserInput
@using Microsoft.AspNetCore.Identity
@model Domain.UserInput.IdeationQuestion
@inject UIMVC.Services.ProjectService ProjectService
@inject UIMVC.Services.UserService UserService
@inject UserManager<UIMVCUser> UserManager

@{
    ViewData["Title"] = Model.QuestionTitle;
}

<div class="container"> 
    <div class="row">
        <div class="col-12">
            <h1>Ideation Thread</h1>
            <p class="font-weight-bold">@Model.QuestionTitle</p>
            <p>@Model.Description</p>
            @if (Model.SiteURL != null)
            {
                <p>Lees meer: <a href="">@Model.SiteURL</a></p>
            }
            <br/>
            <a class="btn btn-primary" asp-controller="Platform" asp-action="CollectIdeation"
               asp-route-id="@Model.Ideation.Id">Terug Naar Ideation</a>
        </div>
    </div>
    <hr/>
    <p>@ProjectService.CollectThreadIdeas(Model).Count() ideeën, heb jij er nog een?</p>
    <div class="row" id="newIdea">
        <form asp-controller="Thread" asp-action="AddIdea" asp-route-ideationQuestion="@Model.Id"
              asp-route-user="@UserManager.GetUserId(User)" asp-route-parent="0">
            <div class="form-group">
                <label>Titel:</label>
                @Html.TextBox("newIdeaTitle","", new { @class="form-control"})
            </div>
            @* Voorlopig enkel gewoon Field *@
            <div class="form-group">
                <label>Text:</label>
                @Html.TextBox("newIdeaField","", new { @class="form-control"})
            </div>
            <button class="btn btn-outline-primary" type="submit">Voeg zelf jouw idee toe</button>
        </form>
    </div>
    <hr/>
    @foreach (Idea idea in ProjectService.CollectThreadIdeas(Model).Where(i => i.ParentIdea.Id == 0))
    {
        if (idea.IsDeleted)
        {
            <div class="row justify-content-center">
                <h4>[Verwijderd]</h4>
            </div>
            <hr/>
        }

        if (!idea.IsDeleted)
        {
            <div class="row justify-content-center">
                <h4>@idea.Title</h4>
            </div>
            <div class="row justify-content-center">
                @if (!idea.VerifiedUser)
                {
                    @Html.Partial("_ReactionNumbersPartial", new LikeViewModel()
                    {
                        likeCount = idea.VoteCount,
                        shareCount = idea.ShareCount, retweetCount = idea.RetweetCount, iconStyle = 4,
                        Username = UserService.CollectUserName(idea.User.Id)
                    })
                }
            
                @if (idea.VerifiedUser)
                {
                    @Html.Partial("_ReactionNumbersPartial", new LikeViewModel()
                    {
                        likeCount = idea.VoteCount,
                        shareCount = idea.ShareCount, retweetCount = idea.RetweetCount, iconStyle = 5,
                        Username = UserService.CollectUserName(idea.User.Id)
                    })
                }
            </div>
            <div class="row justify-content-center">
                @if (idea.Field != null)
                {
                    <p>@idea.Field.Text</p>
                }
            
                @if (idea.Cfield != null)
                {
                    <ul>
                        @foreach (string o in idea.Cfield.Options)
                        {
                            <li>@o</li>
                        }
                    </ul>
                }
                @* TODO Fields buiten CField & Field *@
            </div>
            <div class="row justify-content-center">
                @* TODO actionbuttons hero *@
                @if (!UserManager.GetUserId(User).Equals(idea.User.Id))
                {
                    <div class="row">
                        <div class="col-6">
                            @Html.ActionLink("Stem op dit idee! ", "AddVote", "Platform",
                            new {idea = idea.Id, user = UserManager.GetUserId(User), thread = Model.Id})
                        </div>
                        <div class="col-6">
                            <p>@ViewData["Message"]</p>
                        </div>
                    </div>
                }
            </div>
            <hr/>
        }
    }
</div>