@using Domain.Projects
@using UIMVC.Services
@model Domain.Users.Platform
@inject ProjectService ProjectService
@inject RoleService RoleService
@inject UserService UserService
@{
    ViewData["Title"] = Model.Name;
}

<br/>
<section class="container">
    <div class="row">
        <div class="col-5">
            <section class="card">
                <div class="card-header pb-0">
                    <div class="card-title">
                        <div class="row">
                            <div class="col-8">
                                <h1>@Model.Name</h1>
                            </div>
                            <div class="col-4">
                                <img alt="Icon" width="100" height="100"
                                     src="data:image/png;base64, @System.Convert.ToBase64String(Model.IconImage)"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <img alt="FrontPage" class="card-img"
                         src="data:image/png;base64, @System.Convert.ToBase64String(Model.FrontPageImage)"/>
                </div>
                <div class="card-footer">
                    <a class="btn btn-primary" asp-controller="Project" asp-action="AddProject"
                       asp-route-platform="@Model.Id">
                        Maak nieuw project aan
                    </a>
                </div>
            </section>
        </div>
        <div class="col-7">
            <h1>Projecten</h1>
            <hr/>
            @if (ProjectService == null || !ProjectService.CollectPlatformProjects(Model).Any())
            {
                <h4>Er zijn geen projecten voor dit platform</h4>
            }
            else
            {
                foreach (Project project in ProjectService.CollectPlatformProjects(Model))
                {
                    if (project.Visible)
                    {
                        @Html.DisplayFor(m => project)
                    }
                }
            }
        </div>
    </div>
</section>