@using Domain.Identity
@using Microsoft.AspNetCore.Identity
@inject UserManager<UIMVCUser> UserManager
@model UIMVC.Models.AddIdeaModel

<div class="row" id="newIdea">
    <form asp-controller="Thread" asp-action="AddIdea" asp-route-ideationQuestion="@Model.IdeationQuestionID"
          asp-route-user="@UserManager.GetUserId(User)" asp-route-parent="@Model.ParentID">
        <div class="form-group">
            <label>Titel:</label>
            @Html.TextBox("newIdeaTitle","", new { @class="form-control"})
        </div>
        @* Voorlopig enkel gewoon Field *@
        <div class="form-group">
            <label>Text:</label>
            @Html.TextBox("newIdeaField","", new { @class="form-control"})
        </div>
        <button class="btn btn-outline-primary" type="submit">Voeg jouw idee toe</button>
    </form>
</div>