@using Domain.Identity
@using Microsoft.AspNetCore.Identity
@inject UserManager<UimvcUser> UserManager
@model UIMVC.Models.AddIdeaModel

<div class="container">
    <div class="row" id="newIdea">
        <form asp-controller="Thread" asp-action="AddIdea" asp-route-ideationQuestion="@Model.IdeationQuestionId"
              asp-route-user="@UserManager.GetUserId(User)" asp-route-parent="@Model.ParentId" class="row">
            <div class="col-6">
                <div class="form-group">
                    <label>Titel:</label>
                    @Html.TextBox("newIdeaTitle", "", new {@class = "form-control"})
                </div>
                <div class="form-group">
                    <label>Text:</label>
                    @Html.TextArea("newIdeaField", "", new {@class = "form-control"})
                </div> 
                <button class="btn btn-outline-primary" type="submit">Voeg jouw idee toe</button>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label>Voeg hier de coordinaten toe van je map: <a href="@Url.Action("FAQ", "Home")">
                        Hoe vind ik deze? </a></label>
                    @Html.TextBox("newIdeaMapX", "Eerste coordinaat", new {@class = "form-control"})
                    @Html.TextBox("newIdeaMapY", "Tweede coordinaat", new {@class = "form-control"})
                </div> 
            </div>
        </form>
    </div>    
</div>

