@inject UserService UserService
@inject UserManager<UIMVCUser> UserManager
@using Domain.Identity
@using Domain.UserInput
@using Microsoft.AspNetCore.Identity
@using UIMVC.Services
@model UIMVC.Models.IdeaViewModel
@inject ProjectService ProjectService

@if (Model.ToView.IsDeleted)
{
    <section class="card">
        <div class="card-title">
            <div class="row justify-content-center-between m-auto">
                <h4>[Verwijderd]</h4> 
            </div>
            <div class="row justify-content-center-between m-auto">
                @if (Model.IdeaLevel < 3)
                {
                    <div class="card-footer">
                        @foreach (Idea child in ProjectService.CollectThreadIdeas(
                            Model.ToView.IdeaQuestion).Where(i => i.ParentIdea.Id == Model.ToView.Id))
                        {
                            @Html.Partial("Thread/_CollectIdea", new IdeaViewModel(){ ToView = child, 
                                IdeaLevel = (byte)(Model.IdeaLevel+1) })
                        }
                    </div>
                }        
            </div>
        </div> 
    </section>
}
else
{
    <section class="card">
        <div class="card-header pb-0">
            <div class="card-title ">
                <div class="row justify-content-between m-auto">
                    <h4>@Model.ToView.Title</h4>
                    <div>
                        @if (Model.ToView.VerifiedUser)
                        {
                            <img alt="verified" src="https://image.flaticon.com/icons/svg/148/148839.svg" height="25" width="25"/>
                        }
                        else
                        {
                            <img alt="user" src="https://image.flaticon.com/icons/svg/74/74472.svg" height="25" width="25"/>
                        }
                    </div>
                </div>
                <p>door @UserService.CollectUserName(Model.ToView.User.Id)</p>
            </div>
        </div>
        <div class="card-body pb-0">
            <p>@Model.ToView.Field.Text</p>
            @if (Model.ToView.Cfield != null)
            {
                <ul>
                    @foreach (string o in Model.ToView.Cfield.Options)
                    {
                        <li>@o</li>
                    }
                </ul>
            }
            <hr/>
            <section class="row justify-content-between m-auto">
                <div class="row m-1 align-content-center mx-1">
                    <div class="row m-auto px-1">
                        <img alt="Like" src="https://image.flaticon.com/icons/svg/25/25297.svg" height="25" width="25"/>
                        <p>@Model.ToView.VoteCount</p>
                    </div>
                    <div class="row m-auto px-1">
                        <img alt="Fblike" src="https://image.flaticon.com/icons/svg/32/32978.svg" height="25" width="25"/>
                        <p>@Model.ToView.ShareCount </p>
                    </div>
                    <div class="row m-auto px-1">
                        <img alt="Twitterlike" src="https://image.flaticon.com/icons/svg/32/32727.svg" height="25" width="25"/>
                        <p>@Model.ToView.RetweetCount </p>
                    </div>
                </div>
                <div>
                    @if(Model.IdeaLevel < 3)
                    {
                        <button type="button" class="btn btn-primary" data-toggle="modal" 
                                data-target="#makeCommentModal@(Model.ToView.Id)">Reageren
                        </button>  
                    }
                    @if (!User.Identity.IsAuthenticated)
                    {
                        @* TODO Add an ANONYMOUS way to vote? *@
                        <a class="btn btn-primary" asp-controller="Platform" asp-action="AddVote" 
                           asp-route-idea="@Model.ToView.Id"
                           asp-route-user="@UserManager.GetUserId(User)" 
                           asp-route-thread="@Model.ToView.IdeaQuestion.Id">
                            Stemmen
                        </a>
                    } else if (!UserManager.GetUserId(User).Equals(Model.ToView.User.Id))
                    {
                        <a class="btn btn-primary" asp-controller="Platform" asp-action="AddVote" 
                           asp-route-idea="@Model.ToView.Id"
                           asp-route-user="@UserManager.GetUserId(User)" 
                           asp-route-thread="@Model.ToView.IdeaQuestion.Id">
                            Stemmen
                        </a>
                        
                        <a data-toggle="modal" data-target="#makeReportModal@(Model.ToView.Id)">
                            <img alt="reportflag" src="https://image.flaticon.com/icons/svg/148/148882.svg"
                                 title="Rapporteer dit idee!" width="25px" height="25px"/>
                        </a>
                    }
                    
                    @if(UserManager.GetUserId(User).Equals(Model.ToView.User.Id) && !Model.ToView.IsDeleted){
                        <button type="button" class="btn btn-primary" data-toggle="modal" 
                                data-target="#deleteIdeaModal@(Model.ToView.Id)">Idee Verwijderen
                        </button> 
                    }
                </div>
            </section>
        </div>
        @if (Model.IdeaLevel < 3)
        {
            <div class="card-footer">
                @foreach (Idea child in ProjectService.CollectThreadIdeas(Model.ToView.IdeaQuestion).Where(
                    i => i.ParentIdea.Id == Model.ToView.Id))
                {
                    @Html.Partial("Thread/_CollectIdea", new IdeaViewModel(){ ToView = child, IdeaLevel = 
                        (byte)(Model.IdeaLevel+1) })
                }
            </div>

        }
    </section>
}

<section class="modal fade" id="makeCommentModal@(Model.ToView.Id)" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                Reageren op @Model.ToView.Title
            </div>

            <div class="modal-body m-auto">
                @Html.Partial("Thread/_AddIdea", new AddIdeaModel() {IdeationQuestionID = Model.ToView.IdeaQuestion.Id, 
                    ParentID = Model.ToView.Id})
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuleren</button>
            </div>
        </div>
    </div>
</section>

<section class="modal fade" id="deleteIdeaModal@(Model.ToView.Id)" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5>Ben je zeker dat je je idee wil verwijderen?</h5>
            </div>
            <div class="modal-body">
                <a type="button" class="btn btn-primary" asp-controller="Moderation"
                        asp-action="DestroyIdea" asp-route-idea="@Model.ToView.Id"
                        asp-route-from="IdeationThread" 
                        asp-route-thread="@Model.ToView.IdeaQuestion.Id">Bevestig
                </a>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</section>

<section class="modal fade" id="makeReportModal@(Model.ToView.Id)" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form asp-controller="Platform" asp-action="AddReport" type="button" 
                  asp-route-flagger="@UserManager.GetUserId(User)" asp-route-thread="@Model.ToView.IdeaQuestion.Id" 
                  asp-route-idea="@Model.ToView.Id">
                <div class="modal-body m-auto">
                    <label>Reden van de rapportering:</label>
                    @Html.TextBox("Reason", "", new {@class = "form-control"})
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-6">
                            <button type="submit" class="btn btn-primary">Rapporteer</button>
                        </div>
                        <div class="col-6">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuleren</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>