@model Domain.UserInput.Idea

<!-- Enkele Field view -->

@if (Model.Field != null && Model.Cfield == null && Model.Ifield == null && Model.Vfield == null && 
     Model.Mfield == null)
{
    <div class="row">
        @Html.Partial("Thread/FieldDisplay/Field", Model.Field)
    </div>
}

@if (Model.Field == null && Model.Cfield != null && Model.Ifield == null && Model.Vfield == null && 
     Model.Mfield == null)
{
    <div class="row">
      @Html.Partial("Thread/FieldDisplay/ClosedField", Model.Cfield)  
    </div>
}

@if (Model.Field == null && Model.Cfield == null && Model.Ifield == null && Model.Vfield == null && 
     Model.Mfield != null)
{
    <div class="row">
        @Html.Partial("Thread/FieldDisplay/MapField", Model.Mfield)
    </div>
}

@if (Model.Field == null && Model.Cfield == null && Model.Ifield == null && Model.Vfield != null &&
     Model.Mfield == null)
{
    <div class="row">
        @Html.Partial("Thread/FieldDisplay/VideoField", Model.Vfield)
    </div>
}

@if (Model.Field == null && Model.Cfield == null && Model.Ifield != null && Model.Vfield == null &&
     Model.Mfield == null)
{
    <div class="row">
        @Html.Partial("Thread/FieldDisplay/ImageField", Model.Ifield)
    </div>
}

<!-- 2 Fields combinatie -->

@if (Model.Field != null && Model.Cfield != null && Model.Ifield == null && Model.Vfield == null && 
     Model.Mfield == null)
{
    <div class="row">
        @Html.Partial("Thread/FieldDisplay/Field", Model.Field)
    </div>
    <div class="row">
        @Html.Partial("Thread/FieldDisplay/ClosedField", Model.Cfield) 
    </div>
}

@if (Model.Field != null && Model.Cfield == null && Model.Ifield == null && Model.Vfield == null && 
     Model.Mfield != null)
{
    <div class="row">
        <div class="col-6">
            @Html.Partial("Thread/FieldDisplay/Field", Model.Field)
        </div>
        <div class="col-6">
            @Html.Partial("Thread/FieldDisplay/MapField", Model.Mfield)
        </div>
    </div>
}

@if (Model.Field != null && Model.Cfield == null && Model.Ifield == null && Model.Vfield != null && 
     Model.Mfield == null)
{
    <div class="row">
        <div class="col-6">
            @Html.Partial("Thread/FieldDisplay/Field", Model.Field)
        </div>
        <div class="col-6">
            @Html.Partial("Thread/FieldDisplay/VideoField", Model.Vfield)
        </div>
    </div>
}

@if (Model.Field != null && Model.Cfield == null && Model.Ifield != null && Model.Vfield == null && 
     Model.Mfield == null)
{
    <div class="row">
        <div class="col-6">
            @Html.Partial("Thread/FieldDisplay/Field", Model.Field)
        </div>
        <div class="col-6">
            @Html.Partial("Thread/FieldDisplay/ImageField", Model.Ifield)
        </div>
    </div>
}

@if (Model.Field == null && Model.Cfield != null && Model.Ifield == null && Model.Vfield == null && 
     Model.Mfield != null)
{
    <div class="row">
        <div class="col-6">
            @Html.Partial("Thread/FieldDisplay/ClosedField", Model.Cfield)
        </div>
        <div class="col-6">
            @Html.Partial("Thread/FieldDisplay/MapField", Model.Mfield)
        </div>
    </div>
}

@if (Model.Field == null && Model.Cfield != null && Model.Ifield == null && Model.Vfield != null && 
     Model.Mfield == null)
{
    <div class="row">
        <div class="col-6">
            @Html.Partial("Thread/FieldDisplay/ClosedField", Model.Cfield)
        </div>
        <div class="col-6">
            @Html.Partial("Thread/FieldDisplay/VideoField", Model.Vfield)
        </div>
    </div>
}

@if (Model.Field == null && Model.Cfield != null && Model.Ifield != null && Model.Vfield == null && 
     Model.Mfield == null)
{
    <div class="row">
        <div class="col-6">
            @Html.Partial("Thread/FieldDisplay/ClosedField", Model.Cfield)
        </div>
        <div class="col-6">
            @Html.Partial("Thread/FieldDisplay/ImageField", Model.Ifield)
        </div>
    </div>
}

@if (Model.Field == null && Model.Cfield == null && Model.Ifield == null && Model.Vfield != null && 
     Model.Mfield != null)
{
    <div class="row">
        <div class="col-6">
            @Html.Partial("Thread/FieldDisplay/MapField", Model.Mfield)
        </div>
        <div class="col-6">
            @Html.Partial("Thread/FieldDisplay/VideoField", Model.Vfield)
        </div>
    </div>
}

@if (Model.Field == null && Model.Cfield == null && Model.Ifield != null && Model.Vfield == null && 
     Model.Mfield != null)
{
    <div class="row">
        <div class="col-6">
            @Html.Partial("Thread/FieldDisplay/MapField", Model.Mfield)
        </div>
        <div class="col-6">
            @Html.Partial("Thread/FieldDisplay/ImageField", Model.Ifield)
        </div>
    </div>
}

@if (Model.Field == null && Model.Cfield == null && Model.Ifield != null && Model.Vfield != null && 
     Model.Mfield == null)
{
    <div class="row">
        <div class="col-6">
            @Html.Partial("Thread/FieldDisplay/VideoField", Model.Vfield)
        </div>
        <div class="col-6">
            @Html.Partial("Thread/FieldDisplay/ImageField", Model.Ifield)
        </div>
    </div>
}

<!-- 3 Fields combinatie -->

@if (Model.Field != null && Model.Cfield != null && Model.Ifield == null && Model.Vfield != null && 
     Model.Mfield == null)
{
    <div class="row">
        <div class="col-6">
            <div class="row">
                @Html.Partial("Thread/FieldDisplay/Field", Model.Field)   
            </div>
            <div class="row">
                @Html.Partial("Thread/FieldDisplay/ClosedField", Model.Cfield)             
            </div>
        </div>
        <div class="col-6">
            @Html.Partial("Thread/FieldDisplay/VideoField", Model.Vfield)
        </div>
    </div>
}

@if (Model.Field != null && Model.Cfield != null && Model.Ifield == null && Model.Vfield == null && 
     Model.Mfield != null)
{
    <div class="row">
        <div class="col-6">
            <div class="row">
                @Html.Partial("Thread/FieldDisplay/Field", Model.Field)   
            </div>
            <div class="row">
                @Html.Partial("Thread/FieldDisplay/ClosedField", Model.Cfield)              
            </div>
        </div>
        <div class="col-6">
            @Html.Partial("Thread/FieldDisplay/MapField", Model.Mfield)
        </div>
    </div>
}

@if (Model.Field != null && Model.Cfield != null && Model.Ifield != null && Model.Vfield == null && 
     Model.Mfield == null)
{
    <div class="row">
        <div class="col-6">
            <div class="row">
                @Html.Partial("Thread/FieldDisplay/Field", Model.Field)   
            </div>
            <div class="row">
                @Html.Partial("Thread/FieldDisplay/ClosedField", Model.Cfield)               
            </div>
        </div>
        <div class="col-6">
            @Html.Partial("Thread/FieldDisplay/ImageField", Model.Ifield)
        </div>
    </div>
}

@if (Model.Field != null && Model.Cfield == null && Model.Ifield == null && Model.Vfield != null && 
     Model.Mfield != null)
{
    <div class="row">
        @Html.Partial("Thread/FieldDisplay/Field", Model.Field)
    </div>
    <div class="row">
        <div class="col-6">
            @Html.Partial("Thread/FieldDisplay/MapField", Model.Mfield)
        </div>
        <div class="col-6">
            @Html.Partial("Thread/FieldDisplay/VideoField", Model.Vfield)
        </div>
    </div>
}

@if (Model.Field != null && Model.Cfield == null && Model.Ifield != null && Model.Vfield == null && 
     Model.Mfield != null)
{
    <div class="row">
        @Html.Partial("Thread/FieldDisplay/Field", Model.Field)
    </div>
    <div class="row">
        <div class="col-6">
            @Html.Partial("Thread/FieldDisplay/MapField", Model.Mfield)
        </div>
        <div class="col-6">
            @Html.Partial("Thread/FieldDisplay/ImageField", Model.Ifield)
        </div>
    </div>
}

@if (Model.Field != null && Model.Cfield == null && Model.Ifield != null && Model.Vfield != null && 
     Model.Mfield == null)
{
    <div class="row">
        @Html.Partial("Thread/FieldDisplay/Field", Model.Field)
    </div>
    <div class="row">
        <div class="col-6">
            @Html.Partial("Thread/FieldDisplay/ImageField", Model.Ifield)
        </div>
        <div class="col-6">
            @Html.Partial("Thread/FieldDisplay/VideoField", Model.Vfield)
        </div>
    </div>
}

@if (Model.Field == null && Model.Cfield != null && Model.Ifield == null && Model.Vfield != null && 
     Model.Mfield != null)
{
    <div class="row">
        @Html.Partial("Thread/FieldDisplay/ClosedField", Model.Cfield)
    </div>
    <div class="row">
        <div class="col-6">
            @Html.Partial("Thread/FieldDisplay/MapField", Model.Mfield)
        </div>
        <div class="col-6">
            @Html.Partial("Thread/FieldDisplay/VideoField", Model.Vfield)
        </div>
    </div>
}

@if (Model.Field == null && Model.Cfield != null && Model.Ifield != null && Model.Vfield == null && 
     Model.Mfield != null)
{
    <div class="row">
        @Html.Partial("Thread/FieldDisplay/ClosedField", Model.Cfield)
    </div>
    <div class="row">
        <div class="col-6">
            @Html.Partial("Thread/FieldDisplay/MapField", Model.Mfield)
        </div>
        <div class="col-6">
            @Html.Partial("Thread/FieldDisplay/ImageField", Model.Ifield)
        </div>
    </div>
}

@if (Model.Field == null && Model.Cfield != null && Model.Ifield != null && Model.Vfield != null && 
     Model.Mfield == null)
{
    <div class="row">
        @Html.Partial("Thread/FieldDisplay/ClosedField", Model.Cfield)
    </div>
    <div class="row">
        <div class="col-6">
            @Html.Partial("Thread/FieldDisplay/ImageField", Model.Ifield)
        </div>
        <div class="col-6">
            @Html.Partial("Thread/FieldDisplay/VideoField", Model.Vfield)
        </div>
    </div>
}

@if (Model.Field == null && Model.Cfield == null && Model.Ifield != null && Model.Vfield != null && 
     Model.Mfield != null)
{
    <div class="row">
        <div class="col-4">
            @Html.Partial("Thread/FieldDisplay/MapField", Model.Mfield)  
        </div>
        <div class="col-4">
            @Html.Partial("Thread/FieldDisplay/ImageField", Model.Ifield)
        </div>
        <div class="col-4">
            @Html.Partial("Thread/FieldDisplay/VideoField", Model.Vfield)
        </div>
    </div>
}

<!-- 4 Fields combinatie -->

@if (Model.Field != null && Model.Cfield != null && Model.Ifield == null && Model.Vfield != null && 
     Model.Mfield != null)
{
    <div class="row">
        @Html.Partial("Thread/FieldDisplay/Field", Model.Field)
    </div>
    <div class="row">
        @Html.Partial("Thread/FieldDisplay/ClosedField", Model.Cfield) 
    </div>
    <div class="row">
        <div class="col-6">
            @Html.Partial("Thread/FieldDisplay/MapField", Model.Mfield)
        </div>
        <div class="col-6">
            @Html.Partial("Thread/FieldDisplay/VideoField", Model.Vfield)
        </div>
    </div>
}

@if (Model.Field != null && Model.Cfield != null && Model.Ifield != null && Model.Vfield == null && 
     Model.Mfield != null)
{
    <div class="row">
        @Html.Partial("Thread/FieldDisplay/Field", Model.Field)
    </div>
    <div class="row">
        @Html.Partial("Thread/FieldDisplay/ClosedField", Model.Cfield)
    </div>
    <div class="row">
        <div class="col-6">
            @Html.Partial("Thread/FieldDisplay/MapField", Model.Mfield)
        </div>
        <div class="col-6">
            @Html.Partial("Thread/FieldDisplay/ImageField", Model.Ifield)
        </div>
    </div>
}

@if (Model.Field != null && Model.Cfield != null && Model.Ifield != null && Model.Vfield != null && 
     Model.Mfield == null)
{
    <div class="row">
        @Html.Partial("Thread/FieldDisplay/Field", Model.Field)
    </div>
    <div class="row">
        @Html.Partial("Thread/FieldDisplay/ClosedField", Model.Cfield)
    </div>
    <div class="row">
        <div class="col-6">
            @Html.Partial("Thread/FieldDisplay/VideoField", Model.Vfield)
        </div>
        <div class="col-6">
            @Html.Partial("Thread/FieldDisplay/ImageField", Model.Ifield)
        </div>
    </div>
}

@if (Model.Field != null && Model.Cfield == null && Model.Ifield != null && Model.Vfield != null && 
     Model.Mfield != null)
{
    <div class="row">
        @Html.Partial("Thread/FieldDisplay/Field", Model.Field)
    </div>
    <div class="row">
        <div class="col-4">
            @Html.Partial("Thread/FieldDisplay/MapField", Model.Mfield)
        </div>
        <div class="col-4">
            @Html.Partial("Thread/FieldDisplay/VideoField", Model.Vfield)
        </div>
        <div class="col-4">
            @Html.Partial("Thread/FieldDisplay/ImageField", Model.Ifield)
        </div>
    </div>
}

@if (Model.Field == null && Model.Cfield != null && Model.Ifield != null && Model.Vfield != null && 
     Model.Mfield != null)
{
    <div class="row">
        @Html.Partial("Thread/FieldDisplay/ClosedField", Model.Cfield)
    </div>
    <div class="row">
        <div class="col-4">
            @Html.Partial("Thread/FieldDisplay/MapField", Model.Mfield)
        </div>
        <div class="col-4">
            @Html.Partial("Thread/FieldDisplay/VideoField", Model.Vfield)
        </div>
        <div class="col-4">
            @Html.Partial("Thread/FieldDisplay/ImageField", Model.Ifield)
        </div>
    </div>
}

<!-- 5 Fields combinatie -->

@if (Model.Field != null && Model.Cfield != null && Model.Ifield != null && Model.Vfield != null && 
     Model.Mfield != null)
{
    <div class="row">
        @Html.Partial("Thread/FieldDisplay/Field", Model.Field)
    </div>
    <div class="row">
        @Html.Partial("Thread/FieldDisplay/ClosedField", Model.Cfield)
    </div>
    <div class="row">
        <div class="col-4">
            @Html.Partial("Thread/FieldDisplay/MapField", Model.Mfield)
        </div>
        <div class="col-4">
            @Html.Partial("Thread/FieldDisplay/VideoField", Model.Vfield)
        </div>
        <div class="col-4">
            @Html.Partial("Thread/FieldDisplay/ImageField", Model.Ifield)
        </div>
    </div>
}