@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<div class="accountFormPage">
    <h1>@ViewData["Title"]</h1>
    <div class="row">
        <div class="">
            <section>
                <form id="account" method="post">
                    <h4>Log in met een bestaand account</h4>
                    <hr />
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Input.Email"></label>
                        <input asp-for="Input.Email" class="form-control" />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.Password">Wachtwoord</label>
                        <input asp-for="Input.Password" class="form-control"/>
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label asp-for="Input.RememberMe">
                                <input asp-for="Input.RememberMe"/> Onthouden
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Log in</button>
                    </div>
                    <hr />
                    <div class="form-group">
                        <p>
                            <a id="forgot-password" asp-page="./ForgotPassword">Wachtwoord vergeten?</a>
                        </p>
                        <p>
                            <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Registreren</a>
                        </p>
                    </div>
                </form>
            </section>
            <hr />
            <div>
                <form asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                    <div>
                        <p>
                            @if (Model.ExternalLogins != null)
                            {
                                foreach (var provider in Model.ExternalLogins)
                                {
                                    <button type="submit" class="btn btn-secondary btn-icon" name="provider" value="@provider.Name" title="Log in met een @provider.DisplayName account">
                                            <img class="svg-icon" src="~/images/@(provider.DisplayName).svg"/>@provider.DisplayName</button>
                                }
                            }
                        </p>
                    </div>
                </form>
            </div>
            
        </div>
    </div>
</div>