@inject UserService UserService
@inject UserManager<UimvcUser> UserManager
@using Domain.Identity
@using Domain.Projects
@using Domain.UserInput
@using Microsoft.AspNetCore.Identity
@using UIMVC.Services
@model UIMVC.Models.IdeaViewModel
@inject ProjectService ProjectService

@section Scripts
{
    <script type="module" src="~/dist/closedfield.entry.js" defer></script>
}

@if (Model.ToView.IsDeleted)
{
    <section class="card" id="comment@(Model.ToView.Id)">
        <div class="card-header pb-0">
            <div class="card-title">
                <div class="row justify-content-center-between m-auto">
                    <h4>[Verwijderd]</h4>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class="row justify-content-center-between m-auto">
                @if (Model.IdeaLevel < 3)
                {
                    <div class="card-footer">
                        @foreach (Idea child in ProjectService.CollectThreadIdeas(
                            Model.ToView.IdeaQuestion).Where(i => i.ParentIdea.Id == Model.ToView.Id))
                        {
                            @Html.Partial("_CollectIdea", new IdeaViewModel()
                            {
                                ToView = child,
                                IdeaLevel = (byte) (Model.IdeaLevel + 1)
                            })
                        }
                    </div>
                }
            </div>
        </div>
    </section>
}
else
{
    <section class="card">
        <div class="card-header pb-0">
            <div class="card-title ">
                <div class="row justify-content-between m-auto">
                    <h4 class="text-truncate">@Model.ToView.Title</h4>
                    <div>
                        @if (Model.ToView.VerifiedUser)
                        {
                            <img alt="verified" src="https://image.flaticon.com/icons/svg/148/148839.svg" height="25" width="25"/>
                        }
                        else
                        {
                            <img alt="user" src="https://image.flaticon.com/icons/svg/74/74472.svg" height="25" width="25"/>
                        }
                    </div>
                </div>
                <p>door @UserService.CollectUserName(Model.ToView.User.Id)</p>
            </div>
        </div>
        <div class="card-body pb-0">
            <div class="container">
                @Html.Partial("Partials/_IdeaFields", Model.ToView)
            </div>
            <hr/>
            <section class="row justify-content-between align-items-center m-auto">
                @if (Model.Voting)
                {
                    @Html.Partial("_ReactionNumbersPartial", new LikeViewModel()
                    {
                        IconStyle = LikeVisibility.IdeaLikes, LikeCount = Model.ToView.VoteCount,
                        ShareCount = Model.ToView.ShareCount, RetweetCount = Model.ToView.RetweetCount
                    })
                }
                else
                {
                    @Html.Partial("_ReactionNumbersPartial", new LikeViewModel()
                    {
                        IconStyle = LikeVisibility.IdeaWithoutLikes, LikeCount = Model.ToView.VoteCount,
                        ShareCount = Model.ToView.ShareCount, RetweetCount = Model.ToView.RetweetCount
                    })
                }

                <div class="row justify-content-around">
                    @if (Model.IdeaLevel < 3)
                    {
                        <button type="button" class="btn btn-primary m-1" data-toggle="modal"
                                data-target="#makeCommentModal@(Model.ToView.Id)">
                            Reageren
                        </button>
                    }

                    @if (User.Identity.IsAuthenticated && !UserManager.GetUserId(User).Equals(Model.ToView.User.Id) && Model.Voting)
                    {
                        <a class="btn btn-primary m-1" asp-controller="Ideation" asp-action="AddVote"
                           asp-route-idea="@Model.ToView.Id"
                           asp-route-user="@UserManager.GetUserId(User)"
                           asp-route-thread="@Model.ToView.IdeaQuestion.Id">
                            Stemmen
                        </a>
                    }

                    @if (User.Identity.IsAuthenticated && !UserManager.GetUserId(User).Equals(Model.ToView.User.Id))
                    {
                        <a data-toggle="modal" data-target="#makeReportModal@(Model.ToView.Id)">
                            <img alt="reportflag" src="https://image.flaticon.com/icons/svg/148/148882.svg"
                                 title="Rapporteer dit idee!" width="25px" height="25px"/>
                        </a>
                    }

                    @if (User.Identity.IsAuthenticated && UserManager.GetUserId(User).Equals(Model.ToView.User.Id) && !Model.ToView.IsDeleted)
                    {
                        <button type="button" class="btn btn-primary m-1" data-toggle="modal" data-target="#editIdeaModal@(Model.ToView.Id)">
                            Idee Aanpassen
                        </button>
                        <button type="button" class="btn btn-primary m-1" data-toggle="modal"
                                data-target="#deleteIdeaModal@(Model.ToView.Id)">
                            Idee Verwijderen
                        </button>
                    }
                </div>
            </section>
        </div>
        @if (Model.IdeaLevel < 3)
        {
            <div class="card-footer">
                @foreach (Idea child in ProjectService.CollectThreadIdeas(Model.ToView.IdeaQuestion).Where(
                    i => i.ParentIdea.Id == Model.ToView.Id))
                {
                    @Html.Partial("Partials/_CollectIdea", new IdeaViewModel()
                    {
                        ToView = child, IdeaLevel =
                            (byte) (Model.IdeaLevel + 1)
                    })
                }
            </div>
        }
    </section>
}

<section class="modal fade" id="makeCommentModal@(Model.ToView.Id)" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5>
                    Reageren op @Model.ToView.Title
                </h5>
            </div>

            <div class="modal-body">
                @Html.Partial("Partials/_AddIdea", new AddIdeaModel()
                {
                    IdeationQuestionId = Model.ToView.IdeaQuestion.Id,
                    ParentId = Model.ToView.Id
                })
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuleren</button>
            </div>
        </div>
    </div>
</section>

<section class="modal fade" id="deleteIdeaModal@(Model.ToView.Id)" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5>Ben je zeker dat je je idee wil verwijderen?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <a type="button" class="btn btn-primary" asp-controller="Ideation"
                        asp-action="DestroyIdea" asp-route-idea="@Model.ToView.Id"
                        asp-route-from="IdeationThread"
                        asp-route-thread="@Model.ToView.IdeaQuestion.Id">Bevestig
                </a>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Sluiten</button>
            </div>
        </div>
    </div>
</section>

<section class="modal fade" id="editIdeaModal@(Model.ToView.Id)" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5>Idee aanpassen: @Model.ToView.Title </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @Html.Partial("Partials/_ChangeIdea", new ChangeIdeaModel()
                {
                    Idea = Model.ToView,
                    ParentId = Model.ToView.ParentIdea.Id, IdeationQuestionId = Model.ToView.IdeaQuestion.Id
                })
            </div>
        </div>
    </div>
</section>

<section class="modal fade" id="makeReportModal@(Model.ToView.Id)" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-header">
            <h5>Rapporteren</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-content">
            <form asp-controller="Ideation" asp-action="AddReport" type="button"
                  asp-route-flagger="@UserManager.GetUserId(User)" asp-route-thread="@Model.ToView.IdeaQuestion.Id"
                  asp-route-idea="@Model.ToView.Id">
                <div class="modal-body m-auto">
                    <label>Reden van de rapportering:</label>
                    @Html.TextBox("Reason", "", new {@class = "form-control"})
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-6">
                            <button type="submit" class="btn btn-primary">Rapporteer</button>
                        </div>
                        <div class="col-6">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuleren</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
