@using Domain.Projects
@model UIMVC.Models.EditProjectModel

@{
    Project project = (Project) ViewData["Project"];
    Layout = "_Layout";
    ViewBag.Title = "Pas: " + project.Title+" aan";
}

@section Scripts {
    <script type="module" src="~/dist/validation.entry.js" defer></script>
} 

<h2>Aanpassen van @project.Title</h2>

<form asp-controller="Project" asp-action="ChangeProject" method="post" asp-route-epm="@Model" asp-route-id="@project.Id">
    <div class="form-row">


        <div class="form-group col-md-12">
            <label asp-for="Title">Naam</label>
            <input asp-for="Title" class="form-control" value="@project.Title"/>
        </div>
        <div class="form-group col-md-12">
            <label asp-for="Goal">Doel</label>
            <input asp-for="Goal" class="form-control" value="@project.Goal"/>
        </div>
        @*<div class="form-group col-md-6">
            <label asp-for="StartDate">Start datum</label>
            <input id="StartDate" type="date" asp-for="StartDate" class="form-control" value="@project.Star"/>
            <div id="StartDateError"></div>

        </div>
        <div class="form-group col-md-6">
            <label asp-for="EndDate">Eind datum</label>
            <input id="EndDate" type="date" asp-for="EndDate" class="form-control" value="@project.EndDate"/>
            <div id="EndDateError" class="text-danger"></div>
        </div>*@
        <div class="form-group col-md-12">
            <label asp-for="Status">Status</label>
            <input type="text" asp-for="Status" class="form-control" value="@project.Status"/>
        </div>
        <div class="form-group col-md-12">
            <input type="checkbox" data-val="true" id="Visible" name="Visible" value="true">
            <input name="Visible" type="hidden" value="false">
            <label asp-for="Visible">Zichtbaar</label>

        </div>
       
        
        <div class="form-group col-md-6">
            <a class="btn btn-primary" asp-controller="Platform" asp-action="Index" asp-route-id="@project.Platform.Id">Ga terug</a> 

            <input id="Submit" class="btn btn-primary" type="submit" onvalue="Opslaan" class="btn"/>
        </div>
    </div>

</form>


<div>
    <br>


</div>