@using Domain.Projects
@model UIMVC.Models.EditProjectModel

@{
    Project project = (Project) ViewData["Project"];
    Layout = "_Layout";
    ViewBag.Title = "Pas: " + project.Title+" aan";
}

<h2>Aanpassen van @project.Title</h2>

<form asp-controller="Project" asp-action="ChangeProject" method="post" asp-route-epm="@Model" asp-route-id="@project.Id">
    <div class="form-row">


        <div class="form-group col-md-12">
            <label asp-for="Title">Naam</label>
            <input asp-for="Title" class="form-control" value="@project.Title"/>
        </div>
        <div class="form-group col-md-12">
            <label asp-for="Goal">Doel</label>
            <input asp-for="Goal" class="form-control" value="@project.Goal"/>
        </div>
        <div class="form-group col-md-6">
            <label asp-for="StartDate">Startdatum</label>
            <input type="date" asp-for="StartDate" class="form-control" value="@project.StartDate"/>
        </div>
        <div class="form-group col-md-6">
            <label asp-for="EndDate">Einddatum</label>
            <input type="date" asp-for="EndDate" class="form-control" value="@project.EndDate"/>
        </div>

        <div class="form-group col-md-6">
            <input class="btn btn-primary" type="submit" onvalue="Opslaan" class="btn"/>
        </div>
    </div>

</form>


<div>
    <br>

    <a class="btn btn-primary" asp-controller="Platform" asp-action="Index" asp-route-id="@project.Platform.Id">Ga terug</a> <a class="btn btn-danger" asp-controller="Project" asp-action="DestroyProject" asp-route-id="@project.Id">Verwijder project</a>


</div>