@using Domain.Projects
@model Domain.Projects.Project


@{
    ViewBag.Title = "Project";
}

<h2>Project</h2>

<dl class="dl-horizontal">
    
    <dt>Name</dt><dd>@Model.Title</dd>
    <dt>Start Date</dt><dd>@Model.StartDate</dd>
    <dt>End Date</dt><dd>@Model.EndDate</dd>
    <dt>Current Phase</dt><dd>@Model.CurrentPhase.Id</dd>
    
  
</dl>

@foreach (var phase in Model.Phases)
{
    <partial name="PartialView/ProjectPhaseDetailPartial" for="@phase"/>

    
}