@model Domain.Projects.Project

@{
    ViewBag.Title = "Edit: " + Model.Title;
    Layout = "_Layout";
}

<h2>Aanpassen van @Model.Title</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Student</h4>
        <hr/>
        @Html.ValidationSummary(true, "", new {@class = "text-danger"})
        @Html.HiddenFor(model => model.Id)


        <div class="form-group">
            <div class="col-md-10">

                <label asp-for="@Model.Id">Id</label>
                <input asp-for="Id" class="form-control" value="@Model.Id" readonly="readonly"/>
            </div>

        </div>

        <div class="form-group">
            <div class="col-md-10">
                <label asp-for="@Model.Platform">Platform</label>
                <input asp-for="Modules" class="form-control" value="@Model.Platform.Id" readonly="readonly"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                <label asp-for="@Model.User">User</label>
                <input asp-for="Modules" class="form-control" value="@Model.User.Id" readonly="readonly"/>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Title, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.Title, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.Title, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Status, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.Status, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.Status, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default"/>
            </div>
        </div>
    </div>
}
<div>
    @Html.ActionLink("Back to List", "Index")
</div>