@model UIMVC.Models.AlterIdeationModel

<div class="container">
    <div class="row">
        <div class="col-md-10">
            <h1>Een Ideation Aanpassen.</h1>
            <form asp-controller="Moderation" asp-action="ChangeIdeation" method="post" asp-route-aim="@Model" 
                  asp-route-ideation="@ViewData["Ideation"]">
                <div class="form-group">
                    <label>ProjectID</label>
                    <input disabled value="@ViewData["Project"]" class="form-control"/>
                </div>
                <div class="form-group">
                    <label>Type</label>
                    <input disabled class="form-control" value="Ideation"/>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Title">Titel van de module</label>
                    <input asp-for="@Model.Title" class="form-control" placeholder="@Model.Title"/>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.ExtraInfo">Geef hier extra informatie</label>
                    <input asp-for="@Model.ExtraInfo" class="form-control" placeholder="@Model.ExtraInfo"/>
                </div>
                <br/>
                <div class="row">
                    <button class="btn btn-primary" type="submit">Bevestig</button>
                </div>
            </form>
        </div>
    </div>
</div>