@using Domain.UserInput
@model Domain.UserInput.Idea

@{
    Layout = "_Layout";
    IEnumerable<Report> badIdea = new List<Report>();
    badIdea = ViewData["Reports"] as IEnumerable<Report>;
}

@section Tags
{
    <title>Overview Of Idea @Model.Id</title>    
}

<div class="container">
    <div class="row">
        <div class="col-6">
            <h2>Idea</h2>
            <p><span style="font-weight: bold">Id:</span> @Model.Id</p>
            <p><span style="font-weight: bold">User:</span> @Model.User.Name</p>
            <p><span style="font-weight: bold">Number Of Votes:</span> @Model.VoteCount</p>
            <p><span style="font-weight: bold">Number Of Shares:</span> @Model.ShareCount</p>
            <p><span style="font-weight: bold">Number Of Retweets:</span> @Model.RetweetCount</p>
            <p><span style="font-weight: bold">Title:</span> @Model.Title</p>
            <p><span style="font-weight: bold">Content:</span> </p>
            @if (Model.Field.Text != null && !Model.Field.Text.Equals("<null>"))
            {    
                <p><span style="font-weight: bold">Field:</span> @Model.Field.Text</p>
            }
            
            @if (Model.Cfield != null)
            {
                <p><span style="font-weight: bold">Closed Field:</span></p>
                <p><span style="font-weight: bold">Is it multiplechoice?</span> @Model.Cfield.MultipleChoice</p>
                foreach (string opt in Model.Cfield.Options)
                {
                    <p>Option: @opt</p>
                }
            }
           
            <!-- TODO: (sprint2)
            public ImageField Ifield { get; set; }
            public VideoField Vfield { get; set; }
            public MapField Mfield { get; set; }
            -->            
        </div>
        <div class="col-6">
            <h2>Reports</h2>
            @if (badIdea.Count() > 0)
            {
                badIdea.OrderByDescending(x => (byte) (x.Status)).ToList();
                
                foreach (Report r in badIdea)
                {
                    <p><span style="font-weight: bold">Id:</span> @r.Id</p>
                    <p><span style="font-weight: bold">Flagger:</span> @r.Flagger.Name</p>
                    <p><span style="font-weight: bold">Reason:</span> @r.Reason</p>
                    <p><span style="font-weight: bold">Status:</span> @r.Status</p>
                                                                               
                    <h2>Actions</h2>
                    if (r.Status == ReportStatus.STATUS_NOTVIEWED)
                    {                       
                        <form asp-controller="Moderation" asp-action="ReviewByAdmin" asp-route-idea="@Model.Id" 
                              asp-route-report="@r.Id" method="post">
                            <input id="ReportHandlerButton" class="btn btn-primary"type="submit" value="Ask Review By Admin" />                             
                        </form>
                                             
                    }

                    if (r.Status == ReportStatus.STATUS_NEEDADMIN || r.Status == ReportStatus.STATUS_NOTVIEWED)
                    {
                        <div class="container">
                            <div class="row">
                                <form asp-controller="Moderation" asp-action="ApproveReport" asp-route-report="@r.Id" method="post"
                                      asp-route-idea="@Model.Id">
                                    <input class="btn btn-primary" id="ReportHandlerButton" type="submit" value="Approve Report"/>
                                </form>
                            </div>
                            <div class="row">
                                <form asp-controller="Moderation" asp-action="DenyReport" asp-route-report="@r.Id" method="post"
                                      asp-route-idea="@Model.Id">
                                    <input class="btn btn-primary" id="ReportHandlerButton" type="submit" value="Ignore Report"/>
                                </form>
                            </div>
                        </div>
                    }

                    if (r.Status == ReportStatus.STATUS_APPROVED)
                    {
                        <p>Report has been handled, no actions available</p>
                    }

                    if (r.Status == ReportStatus.STATUS_DENIED)
                    {
                        <form asp-controller="Moderation" asp-action="DeleteReport" asp-route-report="@r.Id" method="post"
                              asp-route-idea="@Model.Id">
                            <input class="btn btn-primary" id="ReportHandlerButton" type="submit" value="Delete Report"/>
                        </form>
                    }
                }    
            }
            else
            {
                <p>This idea has no reports. </p>
            }                   
        </div>
    </div>     
        <!-- TODO: IPT13-60 Button voor dit idee te verwijderen -->
</div>