@model IEnumerable<Domain.UserInput.Idea>

@{
    Layout = "_Layout";
}

<h2>Hier zie je een overzicht van alle ideeën</h2>

<table class="table">
    <tr>
        <th>Id</th>
        <th>CentraleVraag</th>
        <th>User</th>
        <th>Review door Moderator nodig?</th>
        <th>Review door Admin nodig?</th>
        <th>Titel</th>
        <th>Aantal Stemmen</th>
        <th>Aantal Shares</th>
        <th>Aantal Retweets</th>
    </tr>
    @foreach (Domain.UserInput.Idea idea in Model)
    {
        <tr>
            <td>@idea.Id</td>
            <!-- TODO: link naar Ideation Thread -->
            <td>@idea.IdeaQuestion.Id</td>
            <!-- TODO: link naar User profiel? -->
            <td>@idea.User.Id</td>
            <td>@idea.Reported</td>
            <td>@idea.ReviewByAdmin</td>
            <td>@idea.Title</td>
            <td>@idea.VoteCount</td>
            <td>@idea.ShareCount</td>
            <td>@idea.RetweetCount</td>
        </tr>
    }
</table>

