@using Domain.Identity
@using Domain.Users
@using UIMVC.Services
@model IEnumerable<UIMVCUser>
@inject RoleService RoleService
@{
    ViewData["Title"] = "Overzicht van Users";
    Layout = "_Layout";
}

<body>
<h2>Hier zie je een overzicht van alle users</h2>
<hr/>
<div class="container">
    <form>
        <div>
            Zoeken op naam: <input type="text" name="searchString" value="@ViewData["currentFilter"]"/>
            <button type="submit">Zoeken</button> |
            <a asp-action="CollectAllUsers">Filter legen</a>
        </div>
    </form>
</div>
<table class="table">
    <thead>
    <tr>
        <th>
            <a asp-action="CollectAllUsers">Id</a>
        </th>
        <th>
            <a asp-action="CollectAllUsers" asp-route-sortOrder="platform">Platform</a>
        </th>
        <th>
            <a asp-action="CollectAllUsers" asp-route-sortOrder="name">Naam</a>
        </th>
        <th>
            <a asp-action="CollectAllUsers" asp-route-sortOrder="birthday">Geboortedatum</a>
        </th>
        <th>Rollen</th>
        <th>Actief</th>
        <th>Verbannen?</th>
        <th>Rollen toekennen</th>
    </tr>
    </thead>
    <tbody>
    @foreach (UIMVCUser user in Model)
    {
        <tr>
            <td>@user.Id.Substring(0, 5)...</td>
            <td>@user.PlatformDetails</td>
            <td>@user.Name</td>
            <td>@user.DateOfBirth.ToString("dd-MM-yyyy")</td>
            <td>
                @foreach (string role in await RoleService.GetRolesForUser(user))
                {
                    <pre>@role</pre>
                }
            </td>
            <td>@user.Active</td>
            <td>
                @if (await RoleService.IsSameRoleOrHigher(User, user))
                {
                    <p>Zelfde roles</p>
                }
                else if (user.Banned)
                {
                    <text><a asp-action="ToggleBanUser" asp-route-userId="@user.Id">Ban opheffen</a></text>
                }
                else
                {
                    <text><a asp-action="ToggleBanUser" asp-route-userId="@user.Id">Bannen</a></text>
                }
            </td>
            <td>
                <form asp-action="" method="post">
                    @Html.Partial("ModerationTemplates/AssignRolePartial", new AssignRoleModel(){UserId = user.Id})
                </form>
            </td>
        </tr>
    }
    </tbody>
</table>
</body>