@using Domain.UserInput
@model IEnumerable<Domain.UserInput.Idea>

@{
    Layout = "_Layout";
    ViewData["Title"] = "All Ideas";
}

<title>Overzicht van Ideeën</title>
<h2>Hier zie je een overzicht van alle ideeën</h2>

<table class="table">
    <tr>
        <th>Id</th>
        <th>CentraleVraag</th>
        <th>User</th>
        <th>Review door Moderator nodig?</th>
        <th>Review door Admin nodig?</th>
        <th>Titel</th>
        <th>Aantal Stemmen</th>
        <th>Aantal Shares</th>
        <th>Aantal Retweets</th>
    </tr>
    <!-- TODO: link naar Ideation Thread -->
    <!-- TODO: link naar User profiel? -->
    @foreach (Idea idea in Model)
    {
        <tr>
            <td>@idea.Id</td>
            <td>@idea.IdeaQuestion.Id</td>
            <td>@idea.User.Id</td>
            <td>@idea.Reported</td>
            <td>@idea.ReviewByAdmin</td>
            <td>@idea.Title</td>
            <td>@idea.VoteCount</td>
            <td>@idea.ShareCount</td>
            <td>@idea.RetweetCount</td>
        </tr>
    }
</table>
