@using Domain.UserInput
@using Microsoft.EntityFrameworkCore.Internal
@using UIMVC.Services
@model Domain.UserInput.Idea
@inject UserService Userservice

@{
    Layout = "_Layout";
    IEnumerable<Report> badIdea = ViewData["Reports"] as IEnumerable<Report>;
}

@section Tags
{
    <title>Overzicht van Idee: @Model.Id</title>    
}

<div class="container">
    <div class="row">
        <div class="col-6">
            <h2>Idea</h2>
            <p><span style="font-weight: bold">Id:</span> @Model.Id</p>
            <p><span style="font-weight: bold">Gebruiker die idee gepost heeft:</span> @Userservice.CollectUserName(Model.User.Id)</p>
            <p><span style="font-weight: bold">Aantal stemmen:</span> @Model.VoteCount</p>
            <p><span style="font-weight: bold">Aantal Shares:</span> @Model.ShareCount</p>
            <p><span style="font-weight: bold">Aantal Retweets:</span> @Model.RetweetCount</p>
            <p><span style="font-weight: bold">Titel:</span> @Model.Title</p>
            <p><span style="font-weight: bold">Content:</span> </p>
            @if (Model.Field.Text != null && !Model.Field.Text.Equals("<null>"))
            {    
                <p><span style="font-weight: bold">Field:</span> @Model.Field.Text</p>
            }
            
            @if (Model.Cfield != null)
            {
                <p><span style="font-weight: bold">Closed Field:</span></p>
                <p><span style="font-weight: bold">Is het multiplechoice?</span> @Model.Cfield.MultipleChoice</p>
                foreach (string opt in Model.Cfield.Options)
                {
                    <p>Option: @opt</p>
                }
            }
           
            <form asp-controller="Moderation" asp-action="DestroyIdea" asp-route-idea="@Model.Id"
                  asp-route-from="ModerationPanel">
                <input id="ReportHandlerButton" class="btn btn-primary"type="submit" value="Delete Idea" />                             
            </form>
            
            <!-- TODO: (sprint2)
            public ImageField Ifield { get; set; }
            public VideoField Vfield { get; set; }
            public MapField Mfield { get; set; }
            -->            
        </div>
        <div class="col-6">
            <h2>Rapporteringen</h2>
            @if (badIdea.Any())
            {
                badIdea.OrderByDescending(x => (byte) (x.Status)).ToList();
                
                foreach (Report r in badIdea)
                {
                    <p><span style="font-weight: bold">Id:</span> @r.Id</p>
                    <p><span style="font-weight: bold">Gebruiker die Rapport heeft verstuurd:</span> 
                        @Userservice.CollectUserName(r.Flagger.Id)</p>
                    <p><span style="font-weight: bold">Reden:</span> @r.Reason</p>
                    <p><span style="font-weight: bold">Status:</span> @r.Status</p>
                                                                               
                    <h2>Actions</h2>
                    if (r.Status == ReportStatus.STATUS_NOTVIEWED)
                    {                       
                        <form asp-controller="Moderation" asp-action="ReviewByAdmin" asp-route-idea="@Model.Id" 
                              asp-route-report="@r.Id" method="post">
                            <input id="ReportHandlerButton" class="btn btn-primary"type="submit" value="Vraag Review door Admin" />                             
                        </form>
                                             
                    }

                    if (r.Status == ReportStatus.STATUS_NEEDADMIN || r.Status == ReportStatus.STATUS_NOTVIEWED)
                    {
                        <div class="container">
                            <div class="row">
                                <form asp-controller="Moderation" asp-action="ApproveReport" asp-route-report="@r.Id" method="post"
                                      asp-route-idea="@Model.Id">
                                    <input class="btn btn-primary" id="ReportHandlerButton" type="submit" value="Rapport Goedkeuren"/>
                                </form>
                            </div>
                            <div class="row">
                                <form asp-controller="Moderation" asp-action="DenyReport" asp-route-report="@r.Id" method="post"
                                      asp-route-idea="@Model.Id">
                                    <input class="btn btn-primary" id="ReportHandlerButton" type="submit" value="Negeer Rapport"/>
                                </form>
                            </div>
                        </div>
                    }

                    if (r.Status == ReportStatus.STATUS_APPROVED)
                    {
                        <p>Rapportering is opgelost, geen acties beschikbaar.</p>
                    }

                    if (r.Status == ReportStatus.STATUS_DENIED)
                    {
                        <form asp-controller="Moderation" asp-action="DestroyReport" asp-route-report="@r.Id" method="post"
                              asp-route-idea="@Model.Id">
                            <input class="btn btn-primary" id="ReportHandlerButton" type="submit" value="Verwijder Rapport"/>
                        </form>
                    }
                }    
            }
            else
            {
                <p>Dit idee is niet geraporteerd.</p>
            }                   
        </div>
    </div>     
</div>