@model LikeViewModel

<section class="text-center">
    @if (Model.iconStyle == 1)
    {
        <div class="container">
            <div class="row">
                <div class="col-sm-4 align-items-end">
                    <img alt="like" src="https://image.flaticon.com/icons/svg/181/181527.svg" height="50" width="50"/>
                    <p>@Model.likeCount</p>
                </div>

                <div class="col-sm-4 align-items-end">
                    <img alt="Fblike" src="https://image.flaticon.com/icons/svg/32/32978.svg" height="50" width="50"/>
                    <p>@Model.fbLikeCount</p>
                </div>

                <div class="col-sm-4 align-items-end">
                    <img alt="Twitterlike" src="https://image.flaticon.com/icons/svg/32/32727.svg" height="50" width="50"/>
                    <p>@Model.twitterLikeCount</p>
                </div>
            </div>

        </div>
    }

    @if (Model.iconStyle == 2)
    {
        <img alt="like" src="https://image.flaticon.com/icons/svg/181/181527.svg" height="25" width="25"/>
        <p>@Model.likeCount</p>
    }

    @if (Model.iconStyle == 3)
    {
        <img alt="like" src="https://image.flaticon.com/icons/svg/181/181527.svg" height="50" width="50"/>
        <p>@Model.likeCount</p>
        <img alt="Fblike" src="https://image.flaticon.com/icons/svg/32/32978.svg" height="50" width="50"/>
        <p>@Model.fbLikeCount</p>
        <img alt="Twitterlike" src="https://image.flaticon.com/icons/svg/32/32727.svg" height="50" width="50"/>
        <p>@Model.twitterLikeCount</p>
        <img alt="shareCount" src="https://image.flaticon.com/icons/svg/1051/1051309.svg" height="50" width="50"/>
        <p>@Model.shareCount</p>
        <img alt="retweetCount" src="https://image.flaticon.com/icons/svg/9/9148.svg" height="50" width="50"/>
        <p>@Model.retweetCount</p>
    }

    @if (Model.iconStyle == 4)
    {
        <p>Gepost door: @Model.Username</p>
        <img alt="user" src="https://image.flaticon.com/icons/svg/74/74472.svg" height="25" width="25"/>
        <p>Aantal stemmen: @Model.likeCount |</p>
        <p>Aantal shares: @Model.shareCount |</p>
        <p>Aantal retweets: @Model.retweetCount</p>
    }

    @if (Model.iconStyle == 5)
    {
        <p>Gepost door: @Model.Username</p>


        <img alt="verified" src="https://image.flaticon.com/icons/svg/148/148839.svg" height="25" width="25"/>

        <p>Aantal stemmen: @Model.likeCount |</p>

        <p>Aantal shares: @Model.shareCount |</p>

        <p>Aantal retweets: @Model.retweetCount</p>
    }
</section>