@using Domain.Projects
@using Domain.UserInput
@using Domain.Users

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"]</title>

    @RenderSection("Tags", required: false)

    <script type="module" src="~/dist/site.entry.js" defer></script>
    <link rel="stylesheet" href="~/dist/site.css">
</head>
<body>
<nav class="navbar navbar-expand navbar-dark bg-dark">
    <div class="container">
        <div class="collapse navbar-collapse">
            <ul class="d-none d-lg-flex navbar-nav mr-auto">
                <li class="nav-item layouttitle">
                    <a class="nav-link test" asp-area="" asp-controller="Home" asp-action="Index">City of Ideas</a>
                </li>
                @if (ViewData["Platform"] != null)
                {
                    Platform platform = (Platform) ViewData["Platform"];
                    <li class="nav-item layouttitle nav-link">></li>
                    <li class="nav-item layouttitle">
                        <a class="nav-link test" asp-area="" asp-controller="Platform" asp-action="Index" asp-route-id="@platform.Id">@platform.Name</a>
                    </li>
                    @if (ViewData["Project"] != null)
                     {
                         Project project = (Project) ViewData["Project"];
                         <li class="nav-item layouttitle nav-link">></li>
                         <li class="nav-item layouttitle">
                             <a class="nav-link test" asp-area="" asp-controller="Project" asp-action="CollectProject" asp-route-id="@project.Id">@project.Title</a>
                         </li>
                         @if (ViewData["Module"] != null && ViewData["Module"].GetType() == typeof(Ideation))
                          {
                              Ideation ideation = (Ideation) ViewData["Module"];
                              <li class="nav-item layouttitle nav-link">></li>
                              <li class="nav-item layouttitle">
                                  <a class="nav-link test" asp-area="" asp-controller="Ideation" asp-action="CollectIdeation" asp-route-id="@ideation.Id">@ideation.Title</a>
                              </li>
                          }
                         @if (ViewData["Module"] != null && ViewData["Module"].GetType() == typeof(Questionnaire))
                          {
                              Questionnaire questionnaire = (Questionnaire) ViewData["Module"];
                              <li class="nav-item layouttitle nav-link">></li>
                              <li class="nav-item layouttitle">
                                  <a class="nav-link test" asp-area="" asp-controller="Questionnaire" asp-action="AnswerQuestionnaire" asp-route-questionnaireId="@questionnaire.Id"
                                     asp-route-questionId="@questionnaire.Questions[0].Id">
                                      @questionnaire.Title</a>
                              </li>
                          }
                     }
                }
            </ul>
            <ul class="d-flex d-lg-none d-xl-none navbar-nav mr-auto">
            <li class="nav-item layouttitle">
                <a class="nav-link test" asp-area="" asp-controller="Home" asp-action="Index">City of Ideas</a>
            </li>
            </ul>
            <partial name="_LoginPartial"/>
        </div>
    </div>
</nav>


<partial name="_CookieConsentPartial"/>

<div class="container body-content">
    @RenderBody()
</div>

<footer class="footer row">
    <div class="col-md-6">
        <p>Project voor de Karel de Grote Hogeschool, Treecompany en District Antwerpen.</p>
        <p class="font-italic">Team #13 ~ The Spanish Inquisition</p>
    </div>
    <ul class="d-none d-md-inline col-md-3">
        <li class="font-weight-bold">City of Ideas</li>
        <li>
            <a asp-controller="Home" asp-action="About">Over ons</a>
        </li>
        <li>
            <a asp-controller="Home" asp-action="Privacy">Privacy</a>
        </li>
        <li>
            <a asp-controller="Home" asp-action="FAQ">Veelgestelde vragen</a>
        </li>
    </ul>
    <ul class="d-none d-md-inline col-md-3">
        <li class="font-weight-bold">Contact</li>
        <li>Email: <a href="mailto:fake@@student.kdg.be">fake@@student.kdg.be</a></li>
        <li>Tel: 012/34.56.78</li>
    </ul>
</footer>

@RenderSection("Scripts", required: false)
</body>
</html>