@using Domain.Users
@using UIMVC.Services
@using UIMVCUser = Domain.Identity.UimvcUser
@inject SignInManager<UIMVCUser> SignInManager
@inject RoleService RoleService
@inject UserManager<UIMVCUser> UserManager
@inject UserService UserService

@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
    int platformId = await UserService.CollectUserPlatform(User);
}
<ul class="nav nav-pills flex-column">
    <li class="nav-item">
        <a class="nav-link @ManageNavPages.IndexNavClass(ViewContext)" id="profile" asp-page="./Index">Profiel</a>
    </li>
    <li class="nav-item">
        <a class="nav-link @ManageNavPages.ChangePasswordNavClass(ViewContext)" id="change-password" asp-page="./ChangePassword">Wachtwoord</a>
    </li>
    @if (hasExternalLogins)
    {
        <li id="external-logins" class="nav-item">
            <a id="external-login" class="nav-link @ManageNavPages.ExternalLoginsNavClass(ViewContext)" asp-page="./ExternalLogins">Externe logins</a>
        </li>
    }
    <li class="nav-item">
        <a class="nav-link @ManageNavPages.TwoFactorAuthenticationNavClass(ViewContext)" id="two-factor" asp-page="./TwoFactorAuthentication">Two-factor authenticatie</a>
    </li>
    <li class="nav-item">
        <a class="nav-link @ManageNavPages.PersonalDataNavClass(ViewContext)" id="personal-data" asp-page="./PersonalData">Persoonlijke Data</a>
    </li>

    @if (RoleService.IsModerator(User).Result)
    {
        <li class="nav-item">
            <bold>Moderation Panel</bold>
        </li>

        <li class="nav-item">
            <a class="nav-link" asp-controller="Platform" asp-action="CollectAllUsers">Toon alle gebruikers</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-controller="Ideation" asp-action="CollectAllIdeas">Toon alle ideeën</a>
        </li>

        @if (RoleService.IsSuperAdmin(User).Result)
         {
             <li class="nav-item">
                 <a class="nav-link" asp-controller="Platform" asp-action="AddPlatform">Platform Management</a>
             </li>
         }

        @if (User.IsInRole(Role.Admin.ToString("G")) && platformId != 0)
         {
             <li class="nav-item">
                 <a class="nav-link" asp-action="ChangePlatform" asp-controller="Platform" asp-route-id="@platformId">Pas je platform aan</a>
             </li>
         }
    }



</ul>
